@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

body {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  letter-spacing: 1px;
}